.navbar {
    height: 100%;
    display: flex;
    box-shadow: 10px 0 5px -2px #888;
    width: min-content;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;

}


.navbar .nav-links {
    padding-bottom: 40%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
}


.navbar .navbar-brand:hover,
.navbar-brand:active {
    color: blueviolet;
}

