.app{
    display: flex;
}

.app .wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.app .main-page{
    height: 100%;
}

.app .footer {
    border-top: 1px solid black;
}

